<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="pageContent" class="background">
    <div class="page-config">
        <ion-list>
            <ion-item-group>

                <ion-list-header class="listHeader">
                  <ion-grid class="headerSection">
                    <ion-row class="vertical-align-content">
                      <ion-col>
                          <ion-label>
                              <ion-thumbnail class="ion-thumbnailSize"><img src="assets/imgs/heading.png" class="imgThumbnailSize" style="width:80px;height:80px;margin-right: 10px;" ></ion-thumbnail>
                          </ion-label>
                      </ion-col>
                      <ion-col>
                          <ion-label style='font-weight:bolder;'>NAVAIDs</ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-list-header>

                <!-- Lines of Alert, sequenced: Airport, VOR, NDB, FIX and DME -->
                <ion-item lines="full" *ngFor="let line of alertLines; let i = index">
                  <ion-grid class="navaidsContainer">
                    <ion-row class="vertical-align-content" [ngClass]="!line.userSelected ? 'rowHeaderDetailsUnvisible' : 'rowHeaderDetailsVisible'"> 
                      <ion-col>
                          {{line.id}}
                      </ion-col>
                      <ion-col  offset="6">
                          <ion-toggle [(ngModel)]="line.userSelected" disabled="true"></ion-toggle>
                      </ion-col>
                    </ion-row>
                    <ion-row class="vertical-align-content padding-bottom-firstline" [ngClass]="!line.userSelected ? 'rowDetailsUnvisible' : 'rowDetailsVisible'">
                      <ion-col>
                          <i class="fas fa-check-circle" style="color:green;" [hidden]="!line.userSelected"></i><span [hidden]="!line.userSelected">&nbsp;</span>
                          <span class="labelValue">{{line.navaId}}</span>&nbsp;
                          <span class="labelValue">{{line.distance}}nm</span>&nbsp;
                          <span style="font-size:16px;font-weight: bold"><i class="fas fa-less-than-equal"></i></span>&nbsp;
                          <span class="labelValue">{{line.userDistance}}nm</span>
                      </ion-col>
                    </ion-row>
                    <ion-row class="vertical-align-content padding-bottom-middleline" style="padding-top: 5px;" [ngClass]="!line.userSelected ? 'rowDetailsUnvisible' : 'rowDetailsVisible'">
                      <ion-col>
                          <span><i class="fas fa-pause"></i></span>&nbsp;
                          <span class="labelValueCurrentNotification">Estimated</span>&nbsp;
                          <span class="labelValue">{{line.estimatedPause}}</span>&nbsp;
                      </ion-col>
                    </ion-row>
                    <ion-row class="vertical-align-content padding-bottom-middleline" [ngClass]="!line.userSelected ? 'rowDetailsUnvisible' : 'rowDetailsVisible'">
                      <ion-col>
                        <span id="{{'bellTimePause_' + i}}"><i class="fas fa-bell-slash"></i></span>&nbsp;
                        <span class="labelValueCurrentNotification">Alert</span>&nbsp;
                        <ion-datetime id="minSecPicker" 
                                      display-format="mm:ss" 
                                      [(ngModel)]="line.timeToPause" 
                                      style="display: inline-flex; margin:-3px 0px 0px -10px;font-weight: bold"
                                      [minuteValues]="minuteValues" 
                                      (ionChange)="minuteSecondChanged(i)"></ion-datetime>{{line.units}}
                        <span class="labelValueCurrentNotification">before</span>&nbsp;
                      </ion-col>
                    </ion-row>
                    <ion-row class="vertical-align-content padding-bottom-lastline" [ngClass]="!line.userSelected ? 'rowDetailsUnvisible' : 'rowDetailsVisible'">
                        <ion-col>
                          <span id="{{'bellDistancePause_' + i}}"><i class="fas fa-bell-slash"></i></span>&nbsp;
                          <span class="labelValueCurrentNotification">Alert</span>&nbsp;
                          <span class="labelValueCurrent" (click)="openPicker(i)" style="margin:0px 20px 0px 18px;" >{{line.nmToPause | number:'2.0'}}</span>&nbsp;nm&nbsp;
                          <span class="labelValueCurrentNotification">before</span>&nbsp;
                        </ion-col>
                      </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item>
                  <ion-button (click)="onClick()">List Notifications</ion-button>
                </ion-item>

            </ion-item-group>
        </ion-list>      
    </div>
</ion-content>
