@media (min-width:650px) { // this rule will only trigger if screen width is above Xpx,
    .page-config {
        margin-left:auto;
        margin-right:auto;
        width: var(--pauseforme-width-max);
        -moz-box-shadow:    3px 3px 6px 4px rgba(50, 50, 50, 0.60);
        -webkit-box-shadow: 3px 3px 6px 4px rgba(50, 50, 50, 0.60);
        box-shadow:         3px 3px 6px 4px rgba(50, 50, 50, 0.60);
    }
    .navaidsContainer {
        padding: 0px 30px 0 30px;
    }
    .headerSection {
        padding-left: 30px;
        padding-right: 30px;
    }
    ion-content.background {
        --background: var(--pauseform-background);
    }
}

@media (min-width:480px) and (max-width:649px) { 
    ion-content.background {
        --background: var(--pauseform-background);
    }
}


ion-item-divider.config {
    padding-bottom: 3px;
    background-color: #F2F2F2;
}
ion-list-header.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rowHeaderDetailsUnvisible {
    //
}
.rowHeaderDetailsVisible {
    margin-bottom: -10px;
}
.rowDetailsUnvisible {
    display: none !important;
}
.rowDetailsVisible {
    display: block !important;
}

ion-row.padding-bottom {
    padding-bottom: 10px;
}