<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="pageContent" class="background">
    <div class="page-config">
        <ion-list>
            <ion-item-group>

                <ion-list-header class="listHeader">
                  <ion-grid class="headerSection">
                    <ion-row class="vertical-align-content">
                      <ion-col>
                          <ion-label>
                              <ion-thumbnail class="ion-thumbnailSize"><img src="assets/imgs/heading.png" class="imgThumbnailSize" style="width:80px;height:80px;margin-right: 10px;" ></ion-thumbnail>
                          </ion-label>
                      </ion-col>
                      <ion-col>
                          <ion-label style='font-weight:bolder;'>NAVAIDs</ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-list-header>

                <!-- Lines of Alert, sequenced: Airport, VOR, NDB, FIX and DME -->
                <ion-item lines="full" *ngFor="let line of alertLines; let i = index">
                  <ion-grid class="navaidsContainer">
                    <ion-row class="vertical-align-content" [ngClass]="!line.alert ? 'rowHeaderDetailsUnvisible' : 'rowHeaderDetailsVisible'"> 
                      <ion-col>
                          {{line.id}}
                      </ion-col>
                      <ion-col  offset="6">
                          <ion-toggle [(ngModel)]="line.alert" (ionChange)="alertChanged(i)"></ion-toggle>
                      </ion-col>
                    </ion-row>
                    <ion-row class="vertical-align-content padding-bottom-middleline" [ngClass]="!line.alert ? 'rowDetailsUnvisible' : 'rowDetailsVisible'">
                      <ion-col>
                          <i class="fas fa-check-circle" style="color:green;" [hidden]="!line.userSelected"></i>&nbsp;
                          <!-- <ion-icon name="checkmark-circle" color="{{COLOR_ICONS_SELECTION}}" [hidden]="!line.userSelected"></ion-icon> -->
                          <span class="labelValue">{{line.navaId}}</span>&nbsp;
                          <span class="labelValue">{{line.distance}}nm</span>&nbsp;
                          <span style="font-size:16px;font-weight: bold"><i class="fas fa-less-than-equal"></i></span>&nbsp;
                          <span class="labelValue">{{line.userDistance}}nm</span>
                      </ion-col>
                    </ion-row>
                    <ion-row class="vertical-align-content padding-bottom-middleline" [ngClass]="!line.alert ? 'rowDetailsUnvisible' : 'rowDetailsVisible'">
                      <ion-col>
                          <span><i class="fas fa-pause"></i></span>&nbsp;
                          <span class="labelValueCurrent">Estimated</span>&nbsp;
                          <span class="labelValue">{{line.estimatedPause}}</span>&nbsp;
                      </ion-col>
                    </ion-row>
                    <ion-row class="vertical-align-content padding-bottom-lastline" [ngClass]="!line.alert ? 'rowDetailsUnvisible' : 'rowDetailsVisible'">
                      <ion-col>
                          <span><i class="fas fa-bell"></i></span>&nbsp;
                          <span class="labelValueCurrent">Alert</span>&nbsp;
                          <i class="fas fa-arrow-alt-circle-right"></i>&nbsp;
                          <ion-datetime id="minSecPicker" display-format="mm:ss" [(ngModel)]="line.timeToPause" style="display: inline-flex; margin:-15px -8px -0px -18px;" [minuteValues]="minuteValues" (ionChange)="minuteSecondChanged(i)"></ion-datetime>{{line.units}}
                          <span class="labelValueCurrent">before</span>&nbsp;
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

            </ion-item-group>
        </ion-list>      
    </div>
</ion-content>
