<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <div class="page-config">
    <ion-list>
        <ion-item-group>
          <ion-list-header class="listHeader">
            <ion-label>
                <ion-thumbnail class="ion-thumbnailSize paddingLeft"><img src="assets/imgs/xplane-logo-35.png" class="imgThumbnailSize" style="width:35px;height:35px;margin-right: 10px;" ></ion-thumbnail>
            </ion-label>
            <ion-label>X-Plane Communication</ion-label>
          </ion-list-header>
          <ion-item lines="full">
            <ion-icon name="link"  class="iconItem paddingLeft" mode="ios"></ion-icon>
            <ion-label>Address:</ion-label>
            <ion-input type="text" placeholder="127.0.0.1" [(ngModel)]="xplaneAddress" id="inputXplaneAddress" color="primary" (ionBlur)="onFocusLostEvent($event)"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-icon name="link" class="iconItem paddingLeft" mode="ios"></ion-icon>
            <ion-label>Port:</ion-label>
            <ion-input type="text" placeholder="9002" [(ngModel)]="xplanePort" id="inputXplanePort" (ionBlur)="onFocusLostEvent($event)"></ion-input>
          </ion-item>

          <ion-item-divider lines="full" class="config"></ion-item-divider>

          <ion-list-header class="listHeader padding">
            <ion-label>
              <ion-icon name="person" color="primary" class="iconItemHeader paddingLeft" mode="ios"></ion-icon>
            </ion-label>
            <ion-label>Me</ion-label>
          </ion-list-header>
          <ion-item lines="full">
            <ion-icon name="phone-portrait" class="iconItem paddingLeft" mode="ios"></ion-icon>
            <ion-label>Name:</ion-label>
            <ion-input type="text" placeholder="UALTER iPhone" [(ngModel)]="deviceName" id="inputDeviceName" (ionBlur)="onFocusLostEvent($event)"></ion-input>
          </ion-item>

          <ion-item-divider lines="full" class="config"></ion-item-divider>

          <ion-list-header class="listHeader padding">
              <ion-label>
                  <ion-icon name="airplane" color="primary" class="iconItemHeader paddingLeft" mode="ios"></ion-icon>  
              </ion-label>
              <ion-label>Airplane</ion-label>
          </ion-list-header>
          <ion-item lines="full" button (click)="openAirplanesPage()" style="justify-content: end">
              <ion-label style="flex:none !important;" class="paddingLeft">
                <ion-thumbnail class="ion-thumbnailSize">
                  <ion-img [src]="airplane.icon" style="width: 60px; height: 60px; margin-right: 10px;"></ion-img>
                </ion-thumbnail>
              </ion-label>
              <ion-label>{{airplane.name}}</ion-label>
              <ion-label>&nbsp;</ion-label>
              <ion-label>&nbsp;</ion-label>
          </ion-item>

        </ion-item-group>
    </ion-list>

  </div>
</ion-content>

