page-settings {

}


.ion-thumbnailSize {
   min-width: 35px !important;
   min-height: 35px !important;
   display: inline !important;
}

.imgThumbnailSize {
    width: 35px;
    height: 35px;
}

.iconItem {
    font-size: 20px;
    margin-right: 5px;
}

.iconItemHeader {
    font-size: 35px;
    margin-right: 10px;
}

.listHeader {
    justify-content: end;

}