<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button mode="ios"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MapPauseForMe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  allow="geolocation">
    <div id="map" style="width: 100%;height: 100%;">
      <div>
        <ion-fab vertical="top" horizontal="start" slot="fixed">
          <ion-fab-button>
            <ion-icon name="speedometer"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button (click)="locateUser($event)"            id="btnLocateUser"><ion-icon name="navigate"></ion-icon></ion-fab-button>
            <ion-fab-button (click)="followAirplane($event)"        id="btnFollowAirplane"><ion-icon name="airplane"></ion-icon></ion-fab-button>
            <ion-fab-button (click)="showAirplaneInfoPopup($event)" id="btnShowAirplaneInfo"><ion-icon name="information-circle"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="bottom">
            <ion-fab-button (click)="playPause($event)"        id="btnPlayPause"><ion-icon name="pause"></ion-icon></ion-fab-button>
            <ion-fab-button (click)="disConnectButton($event)" id="btnDisconnect"><ion-icon name="power"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
      <div class="showOnMap" id="messageSending" [@visibilityWaiting]="visibilityWaiting"> 
        <img src="assets/imgs/loading-1.gif" alt="loading"/>
      </div>
      <div class="showOnMap boxWait" id="labelWaiting" [@visibilityWaiting]="visibilityWaiting">
        Wait...
      </div>
      <div class="showOnMap boxContactingXPlane" id="labelConnecting" [@visibilityContacting]="visibilityContacting">
        Contacting X-Plane...
      </div>
      <div class="showOnMap" id="connectingGif" [@visibilityContacting]="visibilityContacting">
        <img src="assets/imgs/loading-1.gif" alt="loading"/>
      </div>
      <div id="buttonConnect" [@visibilityButtonConnectMe]="visibilityButtonConnectMe"  >
        <div style="height: 100%; width: 100%; text-align: center; display: table">
          <span style="vertical-align: middle;display: table-cell; padding-left: 15px; padding-top: 2px;">
            Connect Me
          </span> 
          <span style="vertical-align: middle;display: table-cell; padding-top: 8px; padding-right: 15px;">  
            <ion-toggle mode="ios" [(ngModel)]="connectMeState" (ngModelChange)="updateConnectMeState($event)" (click)="stopPropagate($event)" [disabled]="connectMeDisable"></ion-toggle>
          </span>
        </div>
      </div>
      <div id="messageBar" [@visibilityMessageBar]="visibilityMessageBar" [@colorChanged]="messageBarColor">
        <div id="messageBarText">
          <ion-icon [name]="messageBarIcon" [color]="messageBarColorIcon"></ion-icon>
          {{messageBarText}}
        </div>
      </div>
    </div>       
  </ion-content>