page-map {
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.toggle-search {
   height: 13px!important;
   width: 13px!important;
}
  
.toggle-search {
    height: 15px;
    width: 35px;
    margin-top: 2px;
}

.showOnMap {
    position: absolute;
    z-index: 500;
}

#messageSending {
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
    opacity: 1;
}

#connectingGif {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
    opacity: 0;
}

#labelConnecting {
    top: 31%;
    left: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-size: 16px;
    transform: translate(-50%, -50%);
    //animation: blinker 1s linear infinite;
    z-index: 600;
    opacity: 0;
}

.boxContactingXPlane {
    background-color:rgba(255, 255, 255, 0.85);
    border-radius:7px;
    width:160px;
    height:50px;
    box-shadow: 5px 10px 8px #888888;
    line-height: 50px; 
    text-align: center;
}

.boxWait {
    background-color:rgba(255, 255, 255, 0.85);
    border-radius:7px;
    width:160px;
    height:50px;
    box-shadow: 5px 10px 8px #888888;
    line-height: 50px; 
    text-align: center;
}

#labelWaiting {
    top: 30.5%;
    left: 50.8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-size: 16px;
    transform: translate(-50%, -50%);
    z-index: 600;
    opacity: 1;
}

#buttonConnect{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 70px;
    z-index: 500;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0.93;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
    text-align: center;
    background-color: #ffffff;
}

#messageBar{
    display: table;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 80%;
    left: 50%;
    width: 295px;
    height: 50px;
    transform: translate(-50%, -50%);
    font-weight: 500;
    border-width: 1px 1px 1px 1px;
    border-radius: 8px;
    border-color: #505050;
    border-style: solid;
    opacity: 0.8;
    z-index: 500;
    color: white;
    font-family: inherit;
    font-size: 16px;
    box-shadow: 6px 6px 10px #505050;
}
#messageBar:hover{
    opacity: 1;
    //cursor: pointer;
}
#messageBarText{
    margin-top: 12px;
}

