// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.buttonPopup {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11.5px !important;
	font-weight:bold;
	padding:8px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.buttonPopup:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.buttonPopup:active {
	position:relative;
	top:1px;
}

.buttonPopupPause {
    width: 84px;
    height: 30px;
    margin: 0px 5px 0px 5px;
}
.buttonPopupMoreLess {
    padding:6px 8px !important;
    font-size:16px !important;
    height: 30px;
    width: 30px;
}

.ion-thumbnailSize {
    min-width: 35px !important;
    min-height: 35px !important;
    display: inline !important;
 }

 .imgThumbnailSize {
	width: 35px;
	height: 35px;
}

.listHeader {
	justify-content: end;
}

.valueInHeader {
	color: blue;
}

.vertical-align-content
{
	display: flex!important;
	align-content: center!important;
	align-items: center!important;
}
.labelValue {
   font-weight: bold;
   color: blue;
}
.labelValueMin {
   font-weight: bold;
   color: red;
}
.labelValueCurrent {
   font-weight: bold;
   color: black;
}

ion-item-divider.config {
    padding-bottom: 3px;
    background-color: #F2F2F2;
}
ion-list-header.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (min-width:480px) and (max-width:649px) { // this rule will only trigger if screen width is above 820x,
    ion-content.background {
        --background: var(--pauseform-background);
    }
}